{% extends 'gis_base.html' %}

{% load static %}

{% block controls %}

{% block wms-controls %}
<div class="map-controls">
  <div class="map-controls-icon">
    <i class="fa fa-layer-group"></i>
  </div>
</div>
    {#% include '../components/wms/controls.html' %#}
{% endblock wms-controls %}

{% endblock controls %}

{% block webgis-script %}
<script type="text/javascript">

  var osm = new ol.layer.Tile({
    title: 'OSM',
    source: new ol.source.OSM(),
    zIndex: 0
  });
  map.addLayer(osm);

</script>

{#% block basemap %#}
  {#% include '../components/basemap/layers.html' %#}
{#% endblock basemap %#}

{% block wms %}
  {% include '../components/wms/layers.html' %}
{% endblock wms %}

{% endblock webgis-script %}
