{% extends 'base.html' %}

{% load static %}

{% block component-style %}
  <link rel="stylesheet"
        href="{% static 'css/wms_list.css' %}">
{% endblock component-style %}

{% block page %}

<h1>Mappe</h1>
{% for item in list %}
<div class="map-card">
  <div class="map-card-title">
    <h2>{{ item.title }}</h2>
    <p><strong>Pubblicato:</strong> {{ item.publishing_date }}</p>
    <p><strong>Aggiornato:</strong> {{ item.updating_date }}</p>
  </div>
  <div class="map-card-description">
    <div class="">
      <p>{{ item.contents }}</p>
    </div>
    <div class="button-container">
      <a class="button-viewer" type="button"
              name="button" href="{{ item.get_absolute_url }}">Viewer</a>
    </div>
  </div>
  <div class="map-card-thumbnail">
    <img class="map-thumbnail" src="{#{ item.header_image.url }#}" alt="{{ item.description }}">
  </div>
</div>
{% endfor %}

{% endblock page %}
