{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block head_title %}{% for item in data %}{{ item.site_title }}{% endfor %}{% endblock %}</title>
<link rel="icon" href="{{ protocol }}://{% for item in data %}{{ item.site.domain }}{{ item.site_logo.url }}{% endfor %}" type="image/gif">
<meta name="description"
      content="{% block meta_description %}{% for item in data %}{{ item.site_description }}{% endfor %}{% endblock %}" />
<!-- TAG OpenGraph Facebook -->
<meta property="og:locale" content="it_IT" />
<meta property="og:title"
      content="{% block opengraph_title_facebook %}{% for item in data %}{{ item.site_title }}{% endfor %}{% endblock %}" />
<meta property="og:image"
      content="{% block opengraph_image_facebook %}{{ protocol }}://{% for item in data %}{{ item.site.domain }}{{ item.site_logo.url }}{% endfor %}{% endblock %}" />
<meta property="og:description"
      content="{% block opengraph_description_facebook %}{% for item in data %}{{ item.site_description }}{% endfor %}{% endblock %}" />
<meta property="og:url"
      content="{% block opengraph_url_facebook %}{{ protocol }}://{% for item in data %}{{ item.site.domain }}{% endfor %}{% endblock %}" />
<meta property="og:site_name"
      content="Massimiliano Moraca" />
<!-- TAG Twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title"
      content="{% block opengraph_title_twitter %}{% for item in data %}{{ item.site_title }}{% endfor %}{% endblock %}" />
<meta name="twitter:image"
      content="{% block opengraph_image_twitter %}{{ protocol }}://{% for item in data %}{{ item.site.domain }}{{ item.site_logo.url }}{% endfor %}{% endblock %}" />
<meta name="twitter:description"
      content="{% block opengraph_description_twitter %}{% for item in data %}{{ item.site_description }}{% endfor %}{% endblock %}" />
<!-- TAG OpenGraph LinkedIn -->
<meta property='og:title'
      content="{% block opengraph_title_linkedin %}{% for item in data %}{{ item.site_title }}{% endfor %}{% endblock %}" />
<meta property='og:image'
      content="{% block opengraph_image_linkedin %}{{ protocol }}://{% for item in data %}{{ item.site.domain }}{{ item.site_logo.url }}{% endfor %}{% endblock %}" />
<meta property='og:description'
      content="{% block opengraph_description_linkedin %}{% for item in data %}{{ item.site_description }}{% endfor %}{% endblock %}" />
<meta property='og:url'
      content="{% block opengraph_url_linkedin %}{{ protocol }}://{% for item in data %}{{ item.site.domain }}{% endfor %}{% endblock %}" />
{% include '../commons/libraries.html' %}
