{% load static %}
<div class="site-footer">
  {% for item in data %}
  <div class="address">
    <article class="">
      <h3><i class="fas fa-university"></i> Sede</h3>
      <p>{{ item.address }}</p>
    </article>
  </div>
  <div class="contact">
    <article class="">
      <h3><i class="fas fa-address-book"></i> Contatti</h3>
      <p><i class="fas fa-phone-volume"></i> {{ item.contact_phone }}</p>
      <p><i class="fas fa-mail-bulk"></i> {{ item.contact_email }}</p>
      <p><i class="fas fa-envelope-open-text"></i> {{ item.contact_official_email }}</p>
    </article>
  </div>
  <div class="useful-link">
    <article class="">
      <h3><i class="fas fa-link"></i> Link utili</h3>
      <ul>
        {% for link in item.urls.all %}
        <li><p><a class="link" href="{{ link.url }}" target="_blank">{{ link.name }}</a></p></li>
        {% endfor %}
        {% if request.user.is_authenticated %}
        <li><p><a class="link" href="{% url 'logout' %}" target="_blank">Esci</a></p></li>
        {% else %}
        <li><p><a class="link" href="{% url 'login' %}" target="_blank">Accedi</a></p></li>
        {% endif %}
      </ul>
    </article>
  </div>
  {% endfor %}
</div>
