{% load i18n %}
{% load static %}
<nav class="">

    <div class="search-bar p-0">
        <form class="" action="{% url 'search-results' %}">
            <div class="input-group input-group-search-bar">
              <div class="form-outline-search-bar">
                <input name="q" type="search" class="form-control form-control-search-bar" placeholder="{% translate 'Cerca..' %}" />
              </div>
              <button type="submit" class="btn btn-sm">
                <i class="fas fa-search"></i>
              </button>
            </div>
        </form>
    </div>

  <div class="">
    {% for item in data %}
    <div class="">
      <img class="site-logo-img" src="{{ item.site_logo.url }}" alt="logo">
    </div>
    <div class="">
      <div class="site-title">
        <h1>{{ item.site_title|upper }}</h1>
        <p>{{ item.site_description }}</p>
      </div>
    </div>
    {% endfor %}
    <div class="">
      <div class="">
        <a class="link" href="{% url 'index' %}">Home</a>
        <a class="link" href="{% url 'wms-list' %}">{% translate 'WMS' %}</a>
        <a class="link" href="{% url 'map' %}">{% translate 'Mappe' %}</a>
      </div>
    </div>
  </div>

</nav>
