{% load static %}
<nav class="site-nav">
  {% for item in data %}
  <div class="site-logo">
    <img class="site-logo-img" src="{{ item.site_logo.url }}" alt="logo">
  </div>
  <div class="site-title">
    <div class="">
      <h3>{{ item.site_title|upper }}</h3>
      <p>{{ item.site_description }}</p>
    </div>
  </div>
  {% endfor %}
  <div class="site-menu">
    <ul>
      <li><a class="link" href="/">Home</a></li>
      <li><a class="link" href="#">Page 1</a></li>
      <li><a class="link" href="#">Page 2</a></li>
    </ul>
  </div>
</nav>
