{% load i18n %}
{% load static %}
{% block wms-controls %}

{% include './main_layer_controls.html' %}

{% if single_object.layers %}
  {% for wms in single_object.layers.all %}
  {% if wms.pk != single_object.main_layer.pk %}
  <div class="layer-control">

    <div class="row control-box">

      <div class="col-7 text-end checkbox">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="WMS{{ wms.pk }}">
          <label class="form-check-label" for="WMS{{ wms.pk }}">{{ wms.title }}</label>
        </div>
      </div>

      <div class="col-2 text-end">
{% if wms.ogc_legend %}
        <a class="item-legend" data-bs-toggle="collapse" href="#WMS{{ wms.pk }}legend"
            role="button" aria-expanded="false" aria-controls="WMS{{ wms.pk }}legend"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% translate "Legenda" %}">
            <i class="fas fa-book"></i>
        </a>
{% endif %}
      </div>

      <div class="col-2 text-end">
        <a class="item-controls" data-bs-toggle="collapse" href="#WMS{{ wms.pk }}controls"
            role="button" aria-expanded="false" aria-controls="WMS{{ wms.pk }}controls"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% translate "Controlli" %}">
            <i class="fas fa-cogs"></i>
        </a>
      </div>

    </div>

    <div class="collapse" id="WMS{{ wms.pk }}controls">
      <div class="slider-container">
        <input type="range" class="form-range"
                min="0" max="100" value="100" id="WMS{{ wms.pk }}slider">
        <label class="">{% translate "Trasparenza" %}: <span id="OUTPUT{{ wms.pk }}"></span> %</label>
      </div>
      <div class="counter-container">
        <div class="counter" id="">
          <input class="counter-object" id="WMS{{ wms.pk }}zIndex"
                  type="number" name="zIndex" min="0" max="99" step="1"
                  placeholder="{% if wms.set_index %}{{ wms.set_index }}{% else %}1{% endif %}"
                  value="{% if wms.set_index %}{{ wms.set_index }}{% else %}1{% endif %}">
        </div>
        <label class="">z-Index</label>
      </div>
    </div>
    {% if wms.ogc_legend %}
    <div class="collapse" id="WMS{{ wms.pk }}legend">
      <div id="legend{{ wms.pk }}"></div>
    </div>
    {% endif %}

    <table class="table table-striped" id="onclickinfo{{ wms.pk }}"></table>

  </div>
  {% endif %}
  {% endfor %}
{% endif %}

{% endblock wms-controls %}
