{% load static %}
{% block wms-controls %}

<div class="layer-control">

  <div class="control-box">
    <div class="checkbox">
      <input type="checkbox" class="" name="switch-layer"
              id="WMS{{ single_object.main_layer.pk }}" checked>
      <label class="checkbox-label" for="WMS{{ single_object.main_layer.pk }}">
              {{ single_object.main_layer.title }}</label>
    </div>
    {% if single_object.main_layer.wms_legend %}
    <div class="item-legend" onclick="showHide('WMS{{ single_object.main_layer.pk }}legend')">
      <i class="fas fa-book"></i>
    </div>
    {% endif %}
    <div class="item-controls" onclick="showHide('WMS{{ single_object.main_layer.pk }}controls')">
      <i class="fas fa-cogs"></i>
    </div>
  </div>

  <div class="slider-container" id="WMS{{ single_object.main_layer.pk }}controls" hidden>
    <div class="slider">
      <input class="slider-object" id="WMS{{ single_object.main_layer.pk }}slider"
              type="range" min="0" max="100" value="100" />
    </div>
    <p class="text-control">Opacity: <span id="OUTPUT{{ single_object.main_layer.pk }}"></span> %</p>
  </div>

  {% if single_object.main_layer.wms_legend %}
  <div class="legend" id="WMS{{ single_object.main_layer.pk }}legend" hidden>
    legenda {{ single_object.main_layer.title }}
  </div>
  {% endif %}

</div>



{% if single_object.layers %}
  {% for wms in single_object.layers.all %}
  {% if wms.pk != single_object.main_layer.pk %}
  <div class="layer-control">

    <div class="control-box">
      <div class="checkbox">
        <input type="checkbox" class="" name="switch-layer"
                id="WMS{{ wms.pk }}">
        <label class="checkbox-label" for="WMS{{ wms.pk }}">
                {{ wms.title }}</label>
      </div>
      {% if wms.wms_legend %}
      <div class="item-legend" onclick="showHide('WMS{{ wms.pk }}legend')">
        <i class="fas fa-book"></i>
      </div>
      {% endif %}
      <div class="item-controls" onclick="showHide('WMS{{ wms.pk }}controls')">
        <i class="fas fa-cogs"></i>
      </div>
    </div>

    <div class="slider-container" id="WMS{{ wms.pk }}controls" hidden>
      <div class="slider">
        <input class="slider-object" id="WMS{{ wms.pk }}slider"
                type="range" min="0" max="100" value="80" />
      </div>
      <p class="text-control">Opacity: <span id="OUTPUT{{ wms.pk }}"></span> %</p>
    </div>

    {% if wms.wms_legend %}
    <div class="legend" id="WMS{{ wms.pk }}legend" hidden>
      legenda {{ wms.title }}
    </div>
    {% endif %}

  </div>
  {% endif %}
  {% endfor %}
{% endif %}

{% endblock wms-controls %}
