{% load static %}
{% block wms %}

{% include './main_layer.html' %}

<script type="text/javascript">

{% if single_object.layers %}
  {% for wms in single_object.layers.all %}
  {% if wms.pk != single_object.main_layer.pk %}
    var wms{{ wms.pk }} = new ol.layer.Tile({
      title: '{{ wms.title }}',
      source: new ol.source.TileWMS({
        url: '{{ wms.ogc_layer_path.complete_url_wms }}',
        params: {
          'LAYERS': '{{ wms.ogc_layer_name }}',
          'STYLES': {% if wms.ogc_layer_style %}'{{ wms.ogc_layer_style }}'{% else %}null{% endif %},
        }
      }),
      minZoom: {{ wms.set_min_zoom }},
      maxZoom: {{ wms.set_max_zoom }},
      zIndex: {% if wms.set_index %}{{ wms.set_index }}{% else %}1{% endif %},
      opacity: {{ wms.set_opacity }}
    });

    layerOpacity(wms{{ wms.pk }}, 'WMS{{ wms.pk }}slider', 'OUTPUT{{ wms.pk }}');
    layerZIndex(wms{{ wms.pk }}, 'WMS{{ wms.pk }}zIndex', 'OUTPUT{{ wms.pk }}');

    $('#WMS{{ wms.pk }}').on('change', function() {
      var isChecked = $(this).is(':checked');
      if (isChecked) {
        map.addLayer(wms{{ wms.pk }});
        getElementInfo('onclickinfo{{ wms.pk }}', wms{{ wms.pk }}, '{{ wms.title }}');
        getElementLegendImg('legend{{ wms.pk }}', wms{{ wms.pk }}, '{{ wms.ogc_layer_path.complete_url_wms }}', '{{ wms.ogc_layer_name }}');
      } else {
        map.removeLayer(wms{{ wms.pk }});
        removeElementInfo('onclickinfo{{ wms.pk }}');
      }
  });
  {% endif %}
  {% endfor %}
{% endif %}
</script>
{% endblock wms %}
