{% load static %}
{% block wms %}
<script type="text/javascript">

  var wms{{ single_object.main_layer.pk }} = new ol.layer.Tile({
    title: '{{ single_object.main_layer.title }}',
    source: new ol.source.TileWMS({
      url: '{{ single_object.main_layer.wms_layer_path.complete_url_wms }}',
      params: {
        'LAYERS': '{{ single_object.main_layer.wms_layer_name }}',
        'STYLES': {% if single_object.main_layer.wms_layer_style %}'{{ single_object.main_layer.wms_layer_style }}'{% else %}null{% endif %},
      }
    }),
    minZoom: {{ single_object.main_layer.set_min_zoom }},
    maxZoom: {{ single_object.main_layer.set_max_zoom }},
    zIndex: {% if single_object.main_layer.set_index %}{{ single_object.main_layer.set_index }}{% else %}0{% endif %},
    opacity: {{ single_object.main_layer.set_opacity }}
  });
  map.addLayer(wms{{ single_object.main_layer.pk }});
  $('#WMS{{ single_object.main_layer.pk }}').on('change', function() {
    var isChecked = $(this).is(':checked');
    if (isChecked) {
      map.addLayer(wms{{ single_object.main_layer.pk }});
    } else {
      map.removeLayer(wms{{ single_object.main_layer.pk }});
    }
  });
  var boundingBox = createBBoxLayer(
    {{ single_object.main_layer.wms_bbox }},
    '{{ single_object.main_layer.title }}'
  );
  zoomOnLayer(boundingBox,10,10,10,10,50);
  layerOpacity(wms{{ single_object.main_layer.pk }}, 'WMS{{ single_object.main_layer.pk }}slider', 'OUTPUT{{ single_object.main_layer.pk }}');

{% if single_object.layers %}
  {% for wms in single_object.layers.all %}
  {% if wms.pk != single_object.main_layer.pk %}
    var wms{{ wms.pk }} = new ol.layer.Tile({
      title: '{{ wms.title }}',
      source: new ol.source.TileWMS({
        url: '{{ wms.wms_layer_path.complete_url_wms }}',
        params: {
          'LAYERS': '{{ wms.wms_layer_name }}',
          'STYLES': {% if wms.wms_layer_style %}'{{ wms.wms_layer_style }}'{% else %}null{% endif %},
        }
      }),
      minZoom: {{ wms.set_min_zoom }},
      maxZoom: {{ wms.set_max_zoom }},
      zIndex: {% if wms.set_index %}{{ wms.set_index }}{% else %}0{% endif %},
      opacity: {{ wms.set_opacity }}
    });
    layerOpacity(wms{{ wms.pk }}, 'WMS{{ wms.pk }}slider', 'OUTPUT{{ wms.pk }}');
    $('#WMS{{ wms.pk }}').on('change', function() {
      var isChecked = $(this).is(':checked');
      if (isChecked) {
        map.addLayer(wms{{ wms.pk }});
      } else {
        map.removeLayer(wms{{ wms.pk }});
      }
  });
  {% endif %}
  {% endfor %}
{% endif %}
</script>
{% endblock wms %}
