{% load i18n %}
{% load static %}
{% block wms-controls %}

<div class="layer-control">

  <div class="row control-box">

    <div class="col-7 text-end checkbox">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="WMS{{ single_object.main_layer.pk }}" checked>
        <label class="form-check-label" for="WMS{{ single_object.main_layer.pk }}">{{ single_object.main_layer.title }}</label>
      </div>
    </div>

    <div class="col-2 text-end">
{% if single_object.main_layer.ogc_legend %}
      <div class="item-legend" onclick="showHide('WMS{{ single_object.main_layer.pk }}legend')">
        <div class="tooltip">
          <i class="fas fa-book"></i>
          <span class="tooltiptext">{% translate "Legenda" %}</span>
        </div>
      </div>

      <a class="item-legend" data-bs-toggle="collapse" href="#WMS{{ single_object.main_layer.pk }}legend"
          role="button" aria-expanded="false" aria-controls="WMS{{ single_object.main_layer.pk }}legend"
          data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% translate "Legenda" %}">
          <i class="fas fa-book"></i>
      </a>
{% endif %}
    </div>

    <div class="col-2 text-end">
      <a class="item-controls" data-bs-toggle="collapse" href="#WMS{{ single_object.main_layer.pk }}controls"
          role="button" aria-expanded="false" aria-controls="WMS{{ single_object.main_layer.pk }}controls"
          data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% translate "Controlli" %}">
          <i class="fas fa-cogs"></i>
      </a>
    </div>

  </div>

  <div class="collapse" id="WMS{{ single_object.main_layer.pk }}controls">
    <div class="slider-container">
      <input type="range" class="form-range"
              min="0" max="100" value="100" id="WMS{{ single_object.main_layer.pk }}slider">
      <label class="">{% translate "Trasparenza" %}: <span id="OUTPUT{{ single_object.main_layer.pk }}"></span> %</label>
    </div>
    <div class="counter-container">
      <div class="counter" id="">
        <input class="counter-object" id="WMS{{ single_object.main_layer.pk }}zIndex"
                type="number" name="zIndex" min="0" max="99" step="1"
                placeholder="{% if single_object.main_layer.set_index %}{{ single_object.main_layer.set_index }}{% else %}1{% endif %}"
                value="{% if single_object.main_layer.set_index %}{{ single_object.main_layer.set_index }}{% else %}1{% endif %}">
      </div>
      <label class="">z-Index</label>
    </div>
  </div>

  <div class="info" id="WMS{{ single_object.main_layer.pk }}info" hidden>
    info
  </div>

  {% if single_object.main_layer.ogc_legend %}
  <div class="collapse" id="WMS{{ single_object.main_layer.pk }}legend">
    <div id="legend{{ single_object.main_layer.pk }}"></div>
  </div>
  {% endif %}

  <table class="table table-striped" id="onclickinfo{{ single_object.main_layer.pk }}"></table>

</div>

{% endblock wms-controls %}
