{% load i18n %}
{% load static %}
{% block wms-controls %}

<div class="layer-control">

  <div class="control-box">
    <div class="checkbox">
      <input type="checkbox" class="" name="switch-layer"
              id="WMS{{ single_object.main_layer.pk }}" checked>
      <label class="checkbox-label" for="WMS{{ single_object.main_layer.pk }}">
              {{ single_object.main_layer.title }}</label>
    </div>
    <!-- <div class="item-info" onclick="showHide('WMS{{ single_object.main_layer.pk }}info')">
      <i class="fas fa-info"></i>
    </div> -->
    {% if single_object.main_layer.ogc_legend %}
    <div class="item-legend" onclick="showHide('WMS{{ single_object.main_layer.pk }}legend')">
      <div class="tooltip">
        <i class="fas fa-book"></i>
        <span class="tooltiptext">{% translate "Legenda" %}</span>
      </div>
    </div>
    {% endif %}
    <div class="item-controls" onclick="showHide('WMS{{ single_object.main_layer.pk }}controls')">
      <div class="tooltip">
        <i class="fas fa-cogs"></i>
        <span class="tooltiptext">{% translate "Controlli" %}</span>
      </div>
    </div>
  </div>

  <div class="controls-container" id="WMS{{ single_object.main_layer.pk }}controls" hidden>
    <div class="slider-container">
      <div class="slider">
        <input class="slider-object" id="WMS{{ single_object.main_layer.pk }}slider"
                type="range" min="0" max="100" value="80" />
      </div>
      <p class="text-control">{% translate "Trasparenza" %}: <span id="OUTPUT{{ single_object.main_layer.pk }}"></span> %</p>
    </div>
    <div class="counter-container">
      <div class="counter" id="">
        <input class="counter-object" id="WMS{{ single_object.main_layer.pk }}zIndex"
                type="number" name="zIndex" min="0" max="99" step="1"
                placeholder="{% if single_object.main_layer.set_index %}{{ single_object.main_layer.set_index }}{% else %}1{% endif %}"
                value="{% if single_object.main_layer.set_index %}{{ single_object.main_layer.set_index }}{% else %}1{% endif %}">
      </div>
      <p class="text-control">z-Index</p>
    </div>
  </div>

  <div class="info" id="WMS{{ single_object.main_layer.pk }}info" hidden>
    info
  </div>

  {% if single_object.main_layer.ogc_legend %}
  <div class="legend" id="WMS{{ single_object.main_layer.pk }}legend" hidden>
    <div id="legend{{ single_object.main_layer.pk }}"></div>
  </div>
  {% endif %}

  <table id="onclickinfo{{ single_object.main_layer.pk }}"></table>

</div>

{% endblock wms-controls %}
