{% extends 'base.html' %}

{% load static %}

{% block page %}

<div class="container-full-center">
  <div class="">
    <h1 class="text-center">Accedi all'area riservata</h1>
    <hr>
    <p class="text-center text-deep-margin">Solo il personale autorizzato può accedere, ogni violazione verrà perseguita secondo i termini di legge.</p>

    <div class="">
      {% if form.errors %}
      <div class="alert" role="alert">
        <p class="text-center">Your username and password didn't match. Please try again.</p>
        <!-- <p class="py-0"><a href="mailto:joe@example.com?subject=Lost password">Lost username and password?</a></p> -->
      </div>
      {% endif %}

      {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
      {% endif %}

      <form class="" action="{% url 'login' %}"  method="POST">
        {% csrf_token %}
        <table class="content-center">
          <tr>
            <th scope="col">{{ form.username.label_tag }}</th>
            <th scope="col">{{ form.password.label_tag }}</th>
          </tr>
          <tr>
            <td>{{ form.username }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <div class="content-center">
          <input type="submit" class="button" value="Login">
          <input type="hidden" name="next" value="{{ next }}">
        </div>
      </form>

      {# Assumes you setup the password_reset view in your URLconf #}

    </div>
  </div>
</div>

{% endblock page %}
