{% extends 'base.html' %}

{% load static %}

{% block component-style %}
<style media="screen">
  .login-area {
    display: grid;
    grid-template-columns: 10% 5% 25% 60%;
    /* grid-gap: 5vh; */
    width: 100%;
    height: 100%;
  }
</style>
{% endblock component-style %}

{% block page %}
<div class="login-area">
  <div class="">
    <h1 class="">Accedi all'area riservata</h1>
  </div>

  <hr>

  <div class="">
    <p class="">Solo il personale autorizzato può accedere, ogni violazione verrà perseguita secondo i termini di legge.</p>

    {% if form.errors %}
    <div class="alert" role="alert">
      <p class="text-center">Your username and password didn't match. Please try again.</p>
      <!-- <p class="py-0"><a href="mailto:joe@example.com?subject=Lost password">Lost username and password?</a></p> -->
    </div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
  </div>

  <div class="">
    <form class="" action="{% url 'login' %}"  method="POST">
      {% csrf_token %}
      <table class="">
        <tr>
          <th scope="col">{{ form.username.label_tag }}</th>
          <th scope="col">{{ form.password.label_tag }}</th>
        </tr>
        <tr>
          <td>{{ form.username }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <div class="">
        <input type="submit" class="button" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
  </div>

</div>
{% endblock page %}
