<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <h2>My Map</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        view: new ol.View({
          center: ol.proj.fromLonLat([14.239649, 40.842906]),
          zoom: 8
        })
      });

      var osm = new ol.layer.Tile({
        title: 'OSM',
        source: new ol.source.OSM(),
        zIndex: 0
      });
      map.addLayer(osm);

      var wms = new ol.layer.Tile({
        title: 'TEST',
        source: new ol.source.TileWMS({
          url: 'https://geoserver.massimilianomoraca.me/geoserver/MassimilianoMoraca/wms',
          params: {
            'LAYERS': 'RGB_Campania_20150807',
          }
        }),
        minZoom: 0,
        maxZoom: 20,
        zIndex: 1,
        opacity: 1.0
      });
      map.addLayer(wms);

    </script>
  </body>
</html>
