# Generic Project Stuffs
PROJECT_NAME=opengeodata_test_local
PROJECT_PORT=8002
DEBUG=True

# Django
ALLOWED_HOSTS=*
SECRET_KEY=build-your-secret-key
DB_ENGINE=django.contrib.gis.db.backends.postgis

# DB Connection Parameters
DB_NAME=opengeodata_db_test_local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1983
DB_PORT_EXTERNAL=8001

# Geoserver
GS_HTTP_PORT=8000

# Personal Initial Data[Optional]
ADMIN_USERNAME=
ADMIN_PASSWORD=
DOMAIN_NAME=
DOMAIN=
SITE_TITLE=
SITE_LOGO=
SITE_DESCRIPTION=
ADDRESS=
CONTACT_PHONE=
CONTACT_EMAIL=
CONTACT_OFFICIAL_EMAIL=
