{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
  {% include './commons/google_analytics.html' %}
  {% include './components/site_head.html' %}
  <link rel="stylesheet"
        href="{% static 'css/commons.css' %}">
  <script src="{% static 'js/commons.js' %}"></script>
  <link rel="stylesheet"
        href="{% static 'css/base.css' %}">
  {% block component-style %}{% endblock component-style %}
</head>
<body>
  <header>
    {% include './components/site_navbar.html' %}
  </header>
  <section>
    <div class="site-main">
      {% block page %}{% endblock page %}
    </div>
    {% block page-script %}{% endblock page-script %}
  </section>
  <footer>
    {% include './components/site_footer.html' %}
  </footer>
</body>
</html>
