{% load django_bootstrap_italia_tags %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="it">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Page details -->
        <title>
            {% block page_title %}Ufficio Urbanistica | Comune di Parete{% endblock page_title %}
        </title>
        <meta name="description" content="{% block page_meta_description %}Sito web ufficiale dell'Ufficio Urbanistica del Comune di Parete (CE){% endblock page_meta_description %}">
        <meta name="keywords" content="{% block page_meta_keywords %}{% endblock page_meta_keywords %}">
        <meta name="robots" content="{% block page_meta_robots %}all{% endblock page_meta_robots %}" />
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-italia.min.css' %}">
        <!-- Fonts -->
        <script>window.__PUBLIC_PATH__ = "{% static 'fonts' %}"</script>
        <!-- Javascript -->
        <script src="{% static 'js/bootstrap-italia.bundle.min.js' %}"></script>
        <!-- Extra CSS/Javascript -->
        {% block extra_head %}
          <link rel="icon" href="{% static 'images/logo.png' %}">
          {#% include 'commons/google_analytics.html' %#}
          {% include 'commons/libraries.html' %}
        {% endblock extra_head %}
    </head>
    <body>
      <!-- Container - Header of page-->
      {% include 'bootstrap_italia_include/header_wrapper.html' %}

      <!-- Container - System's messages-->
      {% include 'bootstrap_italia_include/messages.html' %}

        <!-- Container - Body of page-->
        <div class="main-body">
            {% block container %}
            <div class="container">
                <div class="col-12 py-md-5 bd-content">
                    {% block centered_container %}{% endblock %}
                </div>
            </div>
            {% endblock container %}
        </div>

        <!-- Footer -->
        {% include 'bootstrap_italia_include/footer.html' %}

        {% block bottom_scripts %}
        <script>
        <!-- Placed here to take customizable settings value -->
        {% default_js_date_value as default_js_date_value %}
        $(document).ready(function() {
            $('.it-date-datepicker').datepicker({
                inputFormat: ["{{ default_js_date_value }}"],
                outputFormat: "{{ default_js_date_value }}",
            });
        });
        </script>
        {% endblock bottom_scripts %}
        {% block extra_scripts %}{% endblock extra_scripts %}
    </body>
</html>
