{% extends 'base.html' %}

{% load static %}

{% block component-style %}
  <link rel="stylesheet"
        href="{% static 'css/app_base.css' %}">
  <script src="{% static 'js/app_base.js' %}"></script>
{% endblock component-style %}

{% block page %}

{% for item in list %}
{% if forloop.first %}<div class="category-container">{% endif %}
<a class="category-link" href="{{ item.get_absolute_url }}">
  <div class="category-card">

    <div class="category-thumbnail">
      <img class="category-img" src="{{ item.icon.url }}" alt="{{ item.description }}">
    </div>
    <div class="category-info">
      <p>{{ item.title }} <br><span class="badge" id="count{{ item.pk }}">000</span></p>
      <script type="text/javascript">
        function categoryCountRelated (cat1, cat2){
          count = cat1 + cat2;
          document.getElementById("count"+{{ item.pk }}).innerHTML = count;
        };
        categoryCountRelated({{ item.related_ogc_categories.count }}, {{ item.related_webgisproject_categories.count }});
      </script>
    </div>

  </div>
</a>
{% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
{% if forloop.counter|divisibleby:"2" and not forloop.last %}<div class="category-container">{% endif %}
{% endfor %}



{% endblock page %}
