{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block component-style %}
  <link rel="stylesheet"
        href="{% static 'css/app_base.css' %}">
  <link rel="stylesheet"
        href="{% static 'css/app_gismanager.css' %}">
{% endblock component-style %}

{% block page %}

<h1>{{ single_object.title }}</h1>
{% for item in objects %}
<div class="ogc-card">

    <div class="row">

        <div class="col-sm-2 ogc-card-title">
            <h3>{{ item.title }}</h3>
            <p class="small"><strong>{% translate "Pubblicato" %}:</strong> {{ item.publishing_date }}</p>
            <p class="small"><strong>{% translate "Aggiornato" %}:</strong> {{ item.updating_date }}</p>
            <div class="category-container">
              {% for category in item.categories.all %}
              <a class="category-button" href="{{ category.get_absolute_url }}">{{ category }}</a>
              {% endfor %}
            </div>
        </div>

        {% if item.ogc_layer_path.complete_url_wms %}
          {% include '../components/card/wms.html' %}
        {% endif %}

        {% if item.contents %}
          {% include '../components/card/webgis.html' %}
        {% endif %}

    </div>

</div>
{% endfor %}

{% endblock page %}
