{% extends 'base.html' %}

{% load static %}

{% block component-style %}
  {% include './gis_lib.html' %}
{% endblock component-style %}

{% block page %}

<div class="map" id='map'></div>

{% block basemap-controls %}
    {#% include './components/basemap/controls.html' %#}
{% endblock basemap-controls %}

{% endblock page %}

{% block page-script %}
  {% block map-script %}
  <script type="text/javascript">

    var map = new ol.Map({
      target: 'map',
      controls: ol.control.defaults({
        attribution: false
      }),
    });

    var scaleLine = new ol.control.ScaleLine({
      className: 'ol-scale-line',
      target: document.getElementById('scale-line')
    });
    map.addControl(scaleLine);

    // TODO Uncaught TypeError: t.element.setMap is not a function
    // var fullScreen = new ol.control.FullScreen({
    //   className: 'ol-full-screen',
    //   tipLabel: 'Toggle full-screen'
    // });
    // map.addControl(fullScreen);

    var attribution = new ol.control.Attribution({
      className: 'ol-attribution',
      label: 'a',
      collapsible: true,
      collapsed: true,
      target: document.getElementById('map-attribution'),
    });
    map.addControl(attribution);

    var view = new ol.View({
{% if single_object.set_zoom_level %}
      center: ol.proj.fromLonLat([{{ single_object.map_center_longitude }},{{ single_object.map_center_latitude }}]),
      zoom: {{ single_object.set_zoom_level }},
      maxZoom: {{ single_object.set_max_zoom }},
      minZoom: {{ single_object.set_min_zoom }}
{% else %}
      center: ol.proj.fromLonLat([14.239649, 40.842906]),
      zoom: 8
{% endif %}
    });
    map.setView(view);

  </script>
  {% endblock map-script %}

  {% block test-script %}{% endblock test-script %}

  {% block wms-script %}{% endblock wms-script %}

  {% block webgis-script %}{% endblock webgis-script %}

{% endblock page-script %}
