{% load static %}
<!-- OpenLayers 6 -->
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css"
      type="text/css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
<!-- Custom -->
<script src="{% static 'js/gis.js' %}"></script>
<link rel="stylesheet"
      href="{% static 'css/ol_custom.css' %}">
<link rel="stylesheet"
      href="{% static 'css/gis.css' %}">
