{% extends 'gis_base.html' %}

{% load static %}

{% block wms-script %}
<script type="text/javascript">

  const basemap = new baseMapLayer();
  const osm = basemap.osmStandard('OSM');
  mapCanvas.addLayer(osm);

  const wmsMainSource = new wmsLayer();
  const leftMap = wmsMainSource.createWMSLayer(
      '{{ single_object.title }}',
      '{{ single_object.wms_layer_path.complete_url_wms }}',
      '{{ single_object.wms_layer_name }}',
      null,
      28, 0,
      1, 1.00
    );
  mapCanvas.addLayer(leftMap)
  const boundingBox = bboxLayer({{ single_object.wms_bbox }}, '{{ single_object.title }}');
  const layer = boundingBox.createBBox();
  boundingBox.zoomOnLayer(10,10,10,10,50);

</script>
{% endblock wms-script %}
