{% extends 'base.html' %}

{% load static %}

{% block component-style %}
  <link rel="stylesheet"
        href="{% static 'css/wms_list.css' %}">
{% endblock component-style %}

{% block page %}

<h1>WMS</h1>
{% for item in list %}
<div class="wms-card">
  <div class="wms-card-title">
    <h2>{{ item.title }}</h2>
    <p><strong>Pubblicato:</strong> {{ item.publishing_date }}</p>
    <p><strong>Aggiornato:</strong> {{ item.updating_date }}</p>
  </div>
  <div class="wms-card-description">
    <p><strong>WMS service:</strong> {{ item.wms_layer_path.complete_url_wms }}</p>
    <p><strong>Layer name:</strong> {{ item.wms_layer_name }}</p>
    <p><strong>BBOX:</strong> {{ item.wms_bbox }}</p>
    <p><strong>Centroide:</strong> {{ item.wms_centroid }}</p>
  </div>
  <div class="wms-card-thumbnail">
    <img class="wms-thumbnail" src="{{ item.header_image.url }}" alt="{{ item.description }}">
  </div>
</div>
{% endfor %}

{% endblock page %}
