.site-main {
  height: 50vh !important;
}
.map-wrapper, .map {
  width: 100%;
  height: 100%;
}
.map-controls {
  position: absolute;
  display: block;
  top: 0vh;
  right: 0vw;
  height: 30px;
  width: 30px;
  background-color: rgba(1, 79, 134, 1);
  color: rgba(169, 214, 229, 1);
  box-shadow: -5px 5px 8px 4px rgba(0, 0, 0, 0.2);
}
.map-controls:hover {
  background-color: rgba(169, 214, 229, 1);
  color: rgba(1, 79, 134, 1);
}
.map-controls-icon {
  padding: 5px;
}
