/* SCSS RGB */
/*
$prussian-blue: rgba(1, 42, 74, 1);
$indigo-dye: rgba(1, 58, 99, 1);
$indigo-dye-2: rgba(1, 73, 124, 1);
$usafa-blue: rgba(1, 79, 134, 1);
$sapphire-blue: rgba(42, 111, 151, 1);
$celadon-blue: rgba(44, 125, 160, 1);
$blue-green: rgba(70, 143, 175, 1);
$maximum-blue: rgba(97, 165, 194, 1);
$dark-sky-blue: rgba(137, 194, 217, 1);
$light-blue: rgba(169, 214, 229, 1);
*/

html, body {
  height: 100vh;
  background-color: rgba(255, 255, 255, 1) !important;
  margin: 0px;
  /* overflow: hidden; */
}
article {
  padding: 5px;
  width: 100% !important;
}
article>p>img {
  max-width: 100% !important;
  height: auto !important;
  padding: 5px;
  box-shadow: 2px 2px 5px grey;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.alert {
  background-color: red;
  color: black;
  padding: 5px;
}
.button {
  margin: 15px;
}
#id_password, #id_username {
  margin: 15px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.badge {
  background-color: rgba(1, 42, 74, 1);
  color: rgba(169, 214, 229, 1);
  margin-top: 0.5vh;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 2px 2px 5px grey;
  transition-duration: 0.2s;
}
.badge:hover {
  background-color: rgba(169, 214, 229, 1);
  color: rgba(1, 42, 74, 1);
  border: 2px solid rgba(169, 214, 229, 1);
  box-shadow: none;
}
