{% extends 'gis_base.html' %}

{% load static %}

{% block wms-script %}
<script type="text/javascript">

  var osm = new ol.layer.Tile({
    title: 'OSM',
    source: new ol.source.OSM(),
    zIndex: 0
  });
  map.addLayer(osm);

  var wms = new ol.layer.Tile({
    title: '{{ single_object.title }}',
    source: new ol.source.TileWMS({
      url: '{{ single_object.wms_layer_path.complete_url_wms }}',
      params: {
        'LAYERS': '{{ single_object.wms_layer_name }}',
        // 'STYLES': null,
      }
    }),
    minZoom: 0,
    maxZoom: 28,
    zIndex: 1,
    opacity: 1.0
  });
  map.addLayer(wms);

  var boundingBox = createBBoxLayer(
    {{ single_object.wms_bbox }},
    '{{ single_object.title }}'
  );
  map.addLayer(boundingBox);

  zoomOnLayer(boundingBox,10,10,10,10,50);

</script>
{% endblock wms-script %}
