{% extends 'base.html' %}

{% load static %}

{% block component-style %}
  <link rel="stylesheet"
        href="{% static 'css/gismanager.css' %}">
{% endblock component-style %}

{% block page %}
<h1 style="text-align: center;">{{ name }}</h1>

{% for item in list %}
<div class="ogc-card">
  <div class="ogc-card-title">
    <h2>{{ item.title }}</h2>
    <p><strong>Pubblicato:</strong> {{ item.publishing_date }}</p>
    <p><strong>Aggiornato:</strong> {{ item.updating_date }}</p>
    {% for tag in item.tags.all %}
    <a href="{#{ tag.get_absolute_url }#}">{{ tag }}</a>
    {% endfor %}
  </div>
  <div class="ogc-card-description">
    <div class="">
      <p><strong>WMS service</strong></p>
        <input class="copytoclipboard" type="text"
        value="{{ item.ogc_layer_path.complete_url_wms }}" id="ogc{{ item.id }}">
          <button onclick="copyToClipboard('ogc{{ item.id }}')">
            <i class="far fa-copy"></i>
          </button>
    </div>
    <div class="">
      <p><strong>Layer name</strong></p>
        <input class="copytoclipboard" type="text"
        value="{{ item.ogc_layer_name }}" id="ogcname{{ item.id }}">
          <button onclick="copyToClipboard('ogcname{{ item.id }}')">
            <i class="far fa-copy"></i>
          </button>
    </div>
    <p><strong>BBOX:</strong> {{ item.ogc_bbox }}</p>
    <p><strong>Centroide:</strong> {{ item.ogc_centroid }}</p>
    <div class="button-container">
      <a class="button-viewer" type="button"
              name="button" href="{{ item.get_absolute_url }}">Viewer</a>
    </div>
  </div>
  <div class="ogc-card-thumbnail">
    <img class="ogc-thumbnail" src="{{ item.header_image.url }}" alt="{{ item.description }}">
  </div>
</div>
{% endfor %}

{% endblock page %}
