.category-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.category-link {
  text-align: center;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.category-thumbnail, .category.info {
  width: 50%;
}
.category-card {
  color: rgba(1, 42, 74, 1);
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 25vw;
  min-height: 10vh;
  margin: 1vh 1vw 1vh 1vw;
  padding: 2vh 4vw 2vh 4vw;
  height: auto;
  position: relative;
  box-shadow: 2px 2px 5px grey;
  transition-duration: 0.2s;
}
.category-card:hover {
  box-shadow: none;
}
.category-info {
  font-size: 12px;
}
.category-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin: 0 auto;
  position: relative;
}
