{% load static %}
<div class="webgis-card-description">
  <div class="">
    <p>{{ item.contents }}</p>
  </div>
  <div class="button-container">
    <a class="button-viewer" type="button"
            name="button" href="{{ item.get_absolute_url }}">Map Viewer</a>
  </div>
</div>
<div class="webgis-card-thumbnail">
  {% if item.header_image %}
  <img class="webgis-thumbnail" src="{{ item.header_image.url }}" alt="{{ item.description }}">
  {% else %}
  <img class="webgis-thumbnail" src="{% static 'images/background_image.png' %}" alt="{{ item.description }}">
  {% endif %}
</div>
