{% load i18n %}
{% load static %}
<div class="col-sm-8 webgis-card-description">
    <p>{{ item.contents }}</p>
</div>

<div class="col-sm-2 text-center">
    <div class="">
        {% if item.header_image %}
        <img class="img-fluid webgis-thumbnail" src="{{ item.header_image.url }}" alt="{{ item.description }}">
        {% else %}
        <img class="img-fluid webgis-thumbnail" src="{% static 'images/background_image.png' %}" alt="{{ item.description }}">
        {% endif %}
    </div>
    <div class="mt-2">
      <a class="button-viewer p-2" type="button"
      href="{{ item.get_absolute_url }}">Map Viewer</a>
    </div>
</div>
