{% load i18n %}
{% load static %}
<div class="col-sm-8 ogc-card-description">
    <div class="">
      <p><strong>WMS service</strong></p>
        <input class="copytoclipboard" type="text"
        value="{{ item.ogc_layer_path.complete_url_wms }}" id="ogc{{ item.id }}">
          <button onclick="copyToClipboard('ogc{{ item.id }}')">
            <i class="far fa-copy"></i>
          </button>
    </div>
    <div class="">
      <p><strong>Layer name</strong></p>
        <input class="copytoclipboard" type="text"
        value="{{ item.ogc_layer_name }}" id="ogcname{{ item.id }}">
          <button onclick="copyToClipboard('ogcname{{ item.id }}')">
            <i class="far fa-copy"></i>
          </button>
    </div>
    <div class="">
        <p><strong>BBOX:</strong> {{ item.ogc_bbox }}</p>
        <p><strong>Centroide:</strong> {{ item.ogc_centroid }}</p>
    </div>
</div>

<div class="col-sm-2 text-center">
    <div class="">
        <img class="img-fluid ogc-thumbnail" src="{{ item.header_image.url }}" alt="{{ item.description }}">
    </div>
    <div class="mt-2">
      <a class="button-viewer p-2" type="button"
      href="{{ item.get_absolute_url }}">Map Viewer</a>
    </div>
</div>
